[
    {% assign all_docs = site.pages | concat: site.sitepages | concat: site.games | concat: site.artpages %}
    {% assign pages_array = "" | split: "," %}
    {% for p in all_docs %}
        {% if p.title and p.url != '/404.html' and p.url != '/desktop/' and p.url != '/404' and p.url != '/' and p.url != '/index.html' %}
            {% assign page_json = '{ "title": "' | append: p.title | escape | append: '", "url": "' | append: p.url | relative_url | append: '", "icon": "' | append: p.icon | default: '📄' | escape | append: '" }' %}
            {% assign pages_array = pages_array | push: page_json %}
        {% endif %}
    {% endfor %}
    {{ pages_array | join: "," }}
] 