<footer class="glass-bar bottom-bar">
  <div class="bar-content">
    <div id="window-switcher-bar-container" style="display: flex; align-items: center; justify-content: center; margin-right: 8px;"></div>
    <div id="start-button" class="start-button glass-button">
      <span>Start</span>
    </div>
    <div class="divider"></div>
    <div class="taskbar-programs">
      <!-- Program icons will be dynamically added here -->
    </div>
  </div>
</footer>

<div id="start-menu">
  <div class="start-menu-item">
    <span>Programs</span>
    <div class="submenu">
      {%- for page in site.pages -%}
        {%- comment -%}
          We want to include pages that are in the 'pages/' directory,
          but explicitly exclude anything inside 'pages/games/'.
        {%- endcomment -%}
        {%- assign is_in_pages_dir = page.path | startswith: 'pages/' -%}
        {%- assign is_in_games_dir = page.path | startswith: 'pages/games/' -%}

        {%- if is_in_pages_dir and is_in_games_dir == false -%}
          <div class="submenu-item" data-app-id="{{ page.name | remove: '.md' }}" data-app-title="{{ page.title }}">
            {%- if page.icon -%}{{ page.icon }} {%- endif -%}{{ page.title }}
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
  <div class="start-menu-item">
    <span>Games</span>
    <div class="submenu">
      {%- assign game_pages = site.pages | where_exp: "item", "item.path contains 'pages/games/'" -%}
      {%- for game in game_pages -%}
        <div class="submenu-item" data-app-id="{{ game.name | remove: '.md' }}" data-app-title="{{ game.title }}">
          {%- if game.icon -%}{{ game.icon }} {%- endif -%}{{ game.title }}
        </div>
      {%- endfor -%}
    </div>
  </div>
  <div class="start-menu-item">
    <span>Utilities</span>
    <div class="submenu">
      {%- assign utility_pages = site.pages | where_exp: "item", "item.tags contains 'bookmark'" -%}
      {%- for utility in utility_pages -%}
        <div class="submenu-item" data-app-id="{{ utility.name | remove: '.md' }}" data-app-title="{{ utility.title }}">
          {%- if utility.icon -%}{{ utility.icon }} {%- endif -%}{{ utility.title }}
        </div>
      {%- endfor -%}
    </div>
  </div>
  <div class="start-menu-item">
    <span>Social Websites</span>
    <div class="submenu">
      <a href="https://github.com/eosyn-z" target="_blank" class="submenu-item">GitHub</a>
      <a href="https://twitter.com/eosyn_" target="_blank" class="submenu-item">Twitter</a>
    </div>
  </div>
</div> 