[
  {%- for game in site.games -%}
  {%- if game.title and game.title != 'Game Center' -%}
  {
    "id": {{ game.name | remove: '.md' | jsonify }},
    "title": {{ game.title | jsonify }},
    "icon": {{ game.icon | default: '🎮' | jsonify }},
    "description": {{ game.description | default: 'A classic game to enjoy!' | jsonify }},
    "permalink": {{ game.permalink | jsonify }},
    "layout": {{ game.layout | jsonify }}
  }{%- unless forloop.last -%},{%- endunless -%}
  {%- endif -%}
  {%- endfor -%}
] 